*{
    padding: 0;
    margin: 0;
}
.img1{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    width: 300px;
}
.h1{
    font-family: 'Kanit';
    text-align: center;
    margin-top: 20px;
}
.set-1{
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 50px;
}
#currency-one{
    font-size: 20px;
    padding: 10px;
    font-family: 'Kanit';
}
.type1{
    font-size: 30px;
    height: 40px;
    border: 1px solid black ;
    font-family: 'Kanit';
    text-align: center;
    width: 200px;
}
.mid{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.h2{
    font-family: 'Kanit';
    font-weight:500;
    margin-left: 540px;
}
.button{
    width: 90px;
    height: 40px;
    font-family: 'Kanit';
    color:black;
    background-color: darkorange;
    margin-left: 545px;
}
.set-2{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    justify-content:space-evenly;
}
#currency-two{
    font-size: 20px;
    padding: 10px;
    font-family: 'Kanit';
}
.type2{
    font-size: 30px;
    height: 40px;
    border: 1px solid black ;
    font-family: 'Kanit';
    text-align: center;
    width: 200px;
}